{% extends "base.html" %} {% block content %}

<div id="about">
  <h3>Contact Us and we would be happy to support you for any issues!</h3>
  <div class="card">
    <h1>Parth Patel</h1>
    <p class="title">Student - Front-End Developer</p>
    <p style="font-size: 15px;">
      <b>Boston University</b>
      <br />
      <span style="color:red;"><i>ppatel2@bu.edu</i></span>
    </p>
    <div>
      <a class="link" href="https://www.linkedin.com/in/parthmanojpatel"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="card">
    <h1>Kirstin Tatagiri</h1>
    <p class="title">Student- Project Manager</p>
    <p style="font-size: 15px;">
      <b>Boston University</b>
      <br />
      <span style="color:red;"><i>kmtatagi@bu.edu</i></span>
    </p>
    <div>
      <a class="link" href="https://www.linkedin.com/in/kirstintatagiri"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="card">
    <h1>Sirish Pulijala</h1>
    <p class="title">Student - BackEnd Developer</p>
    <p style="font-size: 15px;">
      <b>Boston University</b>
      <br />
      <span style="color:red;"><i>sirishp@bu.edu</i></span>
    </p>
    <div>
      <a class="link" href="https://www.linkedin.com/in/"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="card">
    <h1>Manoj Ravikumar</h1>
    <p class="title">Student - Artichect/Tester</p>
    <p style="font-size: 15px;">
      <b>Boston University</b>
      <br />
      <span style="color:red;"><i>mravikum@bu.edu</i></span>
    </p>
    <div>
      <a class="link" href="https://www.linkedin.com/in/mravikum"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="card">
    <h1>Jieging Liu</h1>
    <p class="title">Student - UX/UI Developer</p>
    <p style="font-size: 15px;">
      <b>Boston University</b>
      <br />
      <span style="color:red;"><i>livvv23@bu.edu</i></span>
    </p>
    <div>
      <a class="link" href="https://www.linkedin.com/in/"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
  </div>
</div>

{% endblock content %}
