{% extends "base.html" %} {% block content %}

<h1 style="text-align: center;">FAQ</h1>
<div>
  <h4>
    If I experience any problems with <b> Click & Go</b>website, how can I get
    help?
  </h4>
  <p>
    Contact us via our customer service email at click_go@gmail.com. If you do
    not get any response, please feel free to contact one of the administractor
    from Contat Us page and We will try to get back to you as soon as possible!
  </p>
  <h4>
    I cannot add products to cart or purchase them, what do I need to fix this?
  </h4>
  <p>
    Please make sure you are registed for Click & Go site or logged in to the
    site. After this, you will be able to purchase products from our site.
  </p>
  <h4>
    How do I register or login to Click & Go website?
  </h4>
  <p>
    From the homepage, please click on Login/Register button on the right side.
    This page will prompt you to login if you have existing account. If you are
    new to our site, click on register buttom from the login page.
  </p>
</div>
{% endblock content %}
