{% extends "base.html" %} {% block content %}


<div id="stationaryPage">
  <h2>Stationary</h2>
  <p>
    Find the must-have stationary for you be sucessful at Boston University
    Classes.
  </p>

  <br />

  {% for i in items %}
  <div class="stat_card">
    <img src="{{ i.img_url }}" alt="BU Binder" style="width:100%" />
    <h1>{{ i.item_name }}</h1>
    <p class="price">$ {{ i.item_price }}</p>
    <p>{{ i.item_desc }}r</p>
    <p>
      <button onClick="location.href='shoppingCart.html';">
        Go To Shopping Cart Page
      </button>
    </p>
  </div>
  {% endfor %}

  <!-- <div class="stat_card">
		  <img src="BUBinder.jpg" alt="BU Binder" style="width:100%" />
		  <h1>BU Binder</h1>
		  <p class="price">$8.99</p>
		  <p>Red 3-Ring Binder</p>
		  <p>
			<button onClick="location.href='shoppingCart.html';">
			  Go To Shopping Cart Page
			</button>
		  </p>
		</div>
		<div class="stat_card">
		  <img src="BUPen.jpg" alt="BU Pen" style="width:100%" />
		  <h1>BU Pen</h1>
		  <p class="price">$5.99</p>
		  <p>BU Ball-point Pen</p>
		  <p>
			<button onClick="location.href='shoppingCart.html';">
			  Go To Shopping Cart Page
			</button>
		  </p>
		</div>
		<div class="stat_card">
		  <img src="BUNotebook.jpg" alt="BU Notebook" style="width:100%" />
		  <h1>BU Notebook</h1>
		  <p class="price">$3.99</p>
		  <p>BU Red Notebook</p>
		  <p>
			<button onClick="location.href='shoppingCart.html';">
			  Go To Shopping Cart Page
			</button>
		  </p>
		</div> -->
</div>

<div id="footer">
  <p>
    Team 3 <br />
    Boston University CS-633
  </p>
</div>
{% endblock content %}
